# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# OS
.DS_Store
Thumbs.db

# LibGDX
android/assets/
android/build/
ios/build/
desktop/build/
html/build/
html/webapp/
